// CBS highlighting

.MathJax, .katex {
  .cbs-Key {
    color: Gray;
  }
  .cbs-Name {
    color: Violet;
  }
  .cbs-SyntaxName {
    color: MediumSeaGreen;
  }
  .cbs-SemanticsName {
    color: MediumPurple;
  }
  .cbs-PartVariable {
    color: $body-text-color;
  }
  .cbs-SectionNumber {
    color: $body-text-color;
  }
}

.search-input {
  color: $body-text-color;
}
