{%- comment -%}
  Math rendering
{%- endcomment -%}

{% assign math = page.math | default: layout.math %}
{% case math %}
  {% when "katex" %}
    {% include katex.html %}
  {% when "mathjax" %}
    {% include mathjax.html %}
{% endcase %}

<link rel="shortcut icon" type="image/x-icon"   href="/cbs-latex/assets/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180"    href="/cbs-latex/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/cbs-latex/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/cbs-latex/assets/icons/favicon-16x16.png">
<link rel="mask-icon" href="/cbs-latex/assets/icons/safari-pinned-tab.svg">
<link rel="manifest"  href="/cbs-latex/assets/icons/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
