<!-- Copied from https://katex.org/docs/browser.html#starter-template -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.css" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.js" crossorigin="anonymous">
</script>

<!-- Automatically display code inside script tags with type=math/tex using KaTeX -->
<script defer src="/cbs-latex/assets/js/mathtex-script-type.js">
</script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/contrib/auto-render.min.js" crossorigin="anonymous"
  onload="
    const macros = {
      '\\\n': '\\ ',
      '\\ensuremath': '\\TextOrMath{$#1$}{#1}',
      '\\string': 
        (context) => {
          let arg = context.consumeArg().tokens;
          if (arg.length !== 1) {
            throw new ParseError(
              '\\string argument must be a macro name');
          }
          const name = arg[0].text;
          return name.slice(1);
        },
      };
    var new_macros = {};
    {% for collection in page.cbs %}
      new_macros = {% include js/{{ collection }}.map %};
      Object.assign(macros, new_macros);
    {% endfor %}
    renderMathInElement(document.body, {
      fleqn: true,
      globalGroup: true,
      trust: true,
      strict: false,
      throwOnError: false,
      maxExpand: 4000,
      macros
    });"></script>
    
<!-- Override the KaTeX default of font-size: 1.21em -->
<style>
  .katex { 
    font-size: 1em; 
  }
</style>
